body{
    text-align: center;
    background-color: #144f61;
    color: white;
    text-transform: capitalize;
}
button{
    background-color: #6663c0;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px;
    font-size:16px;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium','Arial', sans-serif;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 6px solid black;
    margin: 2rem;
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}
.Uflash{
    background-color: wheat;
}
h3{
    font-size: medium;
}